<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_CmsWebServiceLifecycleApi">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_CmsWebServiceServiceApi">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_CmsWebServiceApi">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://vseccms.soap.api.local:8546/lifecycleapi"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_CmsWebServiceLifecycleApi"
                contract="ServiceReference1.CmsWebServiceLifecycleApi" name="WSHttpBinding_CmsWebServiceLifecycleApi" />
            <endpoint address="http://vseccms.soap.api.local:8546/serviceapi"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_CmsWebServiceServiceApi"
                contract="ServiceReference1.CmsWebServiceServiceApi" name="WSHttpBinding_CmsWebServiceServiceApi" />
            <endpoint address="http://vseccms.soap.api.local:8546/api" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_CmsWebServiceApi" contract="ServiceReference1.CmsWebServiceApi"
                name="WSHttpBinding_CmsWebServiceApi" />
        </client>
    </system.serviceModel>
</configuration>